fastapi[standard]
sqlmodel==0.0.22
asyncmy==0.2.10
pydantic==2.10.4
pydantic-settings==2.7.1
python-dotenv==1.2.2
python-jose[cryptography]==3.3.0
bcrypt==4.2.1
python-multipart==0.0.20
alembic==1.14.1
pymysql==1.1.2
Pillow==11.1.0
slowapi==0.1.9
